<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:需与接口的完全限定名保持一致 -->
<mapper namespace="org.jxau.lctoh.user.customer.mapper.CustomerMapper">
	<!-- 数据库表与实体类相对应的resultMap -->
	<resultMap type="Customer" id="CustomerResultMap">
	    <id property="customerId" column="customer_id"/>
	    <result property="customerNickname" column="customer_nickname"/>
	    <result property="customerPortrait" column="customer_portrait"/>
		<result property="customerBalance" column="customer_balance"/>
		<result property="customerUpdateTime" column="customer_update_time"/>
		<association property="customerUser" column="customer_user_id" select="org.jxau.lctoh.user.basis.mapper.UserMapper.findUserByUserId"/>
		<association property="customerState" column="customer_state_id" select="org.jxau.lctoh.state.mapper.StateMapper.findStateByStateId"/>
	</resultMap>
	
	
	<!--根据用户识别码查询用户信息-->
	<select id="findCustomerByUserId" parameterType="String" resultMap="CustomerResultMap">
		select
			customer.customer_id,
			customer.customer_nickname,
			customer.customer_portrait,
			customer.customer_balance,
			customer.customer_update_time,
			customer.customer_state_id,
			customer.customer_user_id
		from customer
		where 
			customer.customer_delete_or_not=1
			and customer.customer_user_id=#{customerUserId}
	</select>
	<!--根据客户识别码查询用户信息-->
	<select id="findCustomerByCustomerId" parameterType="String" resultMap="CustomerResultMap">
		select
			customer.customer_id,
			customer.customer_nickname,
			customer.customer_portrait,
			customer.customer_balance,
			customer.customer_update_time,
			customer.customer_state_id,
			customer.customer_user_id
		from customer
		where 
			customer.customer_delete_or_not=1
			and customer.customer_id=#{customerId}
	</select>
	
	<!-- 添加用户信息 -->
	<insert id="addCustomer" parameterType="Customer" >
		insert into 
		customer (
			customer.customer_id,
			customer.customer_nickname,
			customer.customer_portrait,
			customer.customer_balance,
			customer.customer_update_time,
			customer.customer_state_id,
			customer.customer_user_id
		)
		values(
			#{customerId}, 
			#{customerNickname},
			#{customerPortrait},
			#{customerBalance},
			#{customerUpdateTime}, 
			#{customerState.stateId}, 
			#{customerUser.userId}
		)
	</insert>
</mapper>