body, html {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	overflow: hidden;
	font-family:"微软雅黑";
	background:#ddbfa3;		
}
header{
   background:#f09841;
   height:120px;
   width:100%;
   position:relative;		  
}
header .img_header{
   width:280px;		 
   float:left;	  
   margin-top:34px;
   margin-left:calc(50% - 140px)
}
header .img_header img{
   width:100%;
}
section{
   width:100%;
   position:relative;
}
section  .img_con{
   width:200px;
   float:left;
   margin-left:calc(50% - 260px);
   margin-top:120px;
}
section  .img_con img{
   width:100%;
}
      /*  字体*/
section .font_con{
   float:left;
   margin-left:100px;
   margin-top:200px;
}
section .font_con span{
   display:block;
   float:left;
   width:100%;
   text-align:left;
   margin-top:10px;
   font-size:24px;
   color:#fff;
   font-family:"迷你简中特广告";
}
section .font_con input{
   margin-top:20px;
   height:30px;
   padding:5px 10px;
   background:#f78517;
   color:#fff;
   box-shadow:0px 2px 2px #aaa;
   border:none;
   border-radius:3px;
   outline: none;
 }