<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:需与接口的完全限定名保持一致 -->
<mapper namespace="org.jxau.lctoh.datastatistics.orderstatistics.OrderStatisticsMapper">

	<!--根据状态码查询状态信息 -->
	<select id="orderStatisticsByDay"  resultType="State">
		SELECT
			count(orders.order_id) count, 
			ifnull(SUM(state_id),0) amount ,
			DATE_FORMAT(rt.recording_time_id, '%Y年%m月%d日') AS tm
		FROM
			recording_time rt left join orders 
		on 
			DATE_FORMAT(rt.recording_time_id, "%Y年%m月%d日")=DATE_FORMAT(orders.order_creat_time, "%Y年%m月%d日")
		where
			1=1
			and rt.recording_time_id>=#{stm}
			and rt.recording_time_id<=#{etm}
		GROUP BY
			tm
		order by 
			tm
	</select>
	
	
</mapper>