<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:需与接口的完全限定名保持一致 -->
<mapper namespace="org.jxau.lctoh.datastatistics.orderstatistics.OrderStatisticsMapper">

	<!--根据状态码查询状态信息 -->
	<select id="orderStatisticsByDay" parameterType="Integer" resultType="State">
		SELECT
			DATE_FORMAT(state_update_time, '%Y年%m月%d日') AS tm,
			Count(*) AS count
		FROM
			state
		where
			1=1
		GROUP BY
			days
		order by days
	</select>
	
	
</mapper>