html,body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;						
}
ul{
	list-style: none;
	padding:0;
	margin:0;
}
ul li{
	float:left;
}
.content{
	width:100%;
	height:auto;
	background: #eee;
	font-family: 宋体;
	color:#fff;
	position: relative;
}
/*头部*/
/*头部*/
.content header{
	width:100%;
	min-width: 1000px;
	height:50px;
	background: #fa7c03;
}
.content header .header-wrap{
	height:100%;
	width: calc(100% - 350px);
	min-width: 1000px;
	margin: 0 auto ;
}
.content header .header-wrap>div{
	float:left;
}
.content header .logo{
	width:36px;
	height:36px;
	border-radius: 50%;
	background: white;
	box-shadow:  2px 2px 2px #aaa;
	text-align: center;
	line-height: 36px;
	margin-top:5px;
	margin-left: 20px;
	color:black;
}
/*标题*/
.content header .title{
	color:white;
	font-size:20px;
	line-height: 50px;
	margin-left:30px;
	font-family: 'CoolType Version 1.0-GB2312';
}	
/*导航条*/	
.content header  .header-wrap .nav{
	/*border:1px solid red;*/
          height:100%;
          font-size:14px;
          margin-left: 20px;
}
.content header .nav>ul{          
          height:100%;
         /* border:1px solid white;*/
          line-height: 50px;
}
.content header  .nav>ul>li{
	height:100%;
          width:90px;
          text-align: center;
         /* border:1px solid blue;*/
          margin-right:54px;
}	
.content header  .nav>ul>li:hover{
	background: #ef7e11;
	cursor:pointer;
}	
.content header  .nav>ul>li:first-child{
	background: #df6e0b;
}
/*搜索框*/
.content header .header-wrap .query_btn{
	/*border:1px solid red;*/
          width:160px;
          height:24px;
          margin-top: 13px;
          position: relative;
}
.content header .header-wrap .query_btn input{
	height:20px;
	width:160px;						
	border:1px solid #a0a0a0;
	border-radius: 2px;
	font-size:12px;
	color:#999;
	outline: none;
}
.content header .header-wrap .query_btn  .click_btn{
	height:15px;
	width:15px;
	position: absolute;
	top:5px;
	line-height: 20px;
	text-align: center;
	right:5px;
}
.content header .header-wrap .query_btn  .click_btn img{
	width:100%;
}
/*搜索框*/
.content header .header-wrap .set_list{
	float:right;
	width:120px;
	position: relative;
	line-height: 50px;	
	text-align: center;		
}
.content header .header-wrap .set_list span{
	text-align: center;
	
}
.content header .header-wrap .set_list .small_up{
	height:20px;
	width:20px;
	background: #f26608;
	float: right;
	margin-top:15px;
	margin-right:20px; 
	position:relative; 
}
.content header .header-wrap .set_list .small_up::before{
	position:absolute;
	top:6px;
	right:4px;
	content:'';
	border: 6px solid transparent;
          height: 0;
          width: 0;
          border-top-color: #fff;
}
.content header  .header-wrap .set_list .set_up{
	position: absolute;
	height:160px;
	width:90px;
	top:50px;
	text-align: center;
	font-size:14px;
	right:12px;
	background: #fff;
	box-shadow: 2px 2px 4px #aaa;
	color:#333;
	border-radius: 2px;
	z-index:99;
	/*display: none;*/
}
.content header   .set_list .set_up::before{
	position:absolute;
	top:-16px;
	right:10px;
	content: '';
	border: 8px solid transparent;
          height: 0;
          width: 0;
          border-bottom-color: #fff;
}
.content header   .set_list .set_up ul{
	height:100%;
	width:100%;
	/*border:1px solid black;*/
}
.content header  .set_list .set_up ul li{
	width:90%;
	margin-left:5%;
	margin-top:3px;
	height:22%;
	line-height: 40px;
	border-bottom:1px solid #ccc;
	border-radius: 3px;			
}
.content header  .set_list .set_up ul li .img_list{
          width:12px;
          height:12px;
          margin-left:3px;
          margin-top: 1px;
          float:left;
}
.content header  .set_list .set_up ul li .img_list img{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
.content header  .set_list .set_up ul li:nth-of-type(4){
	border:none;			
}
.content header  .set_list .set_up ul li:hover{
    background: #cccccc;
    cursor:pointer;
}
/*底部*/
 footer{
    color:#999;
    background: #f5efea;
    width:100%;
    height:240px;
    position: relative;
}
footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}    
footer .footer-mid{
    width: calc(100% - 120px);
    height: 200px;
    margin: 0px auto;
}
footer .footer-mid ul{
    width: 90%;
    margin-left:5%;
    height:100%;
    display: flex;		   
}
footer .footer-mid li:first-child{
	margin-left:40px;
}
footer .footer-mid li{
    width: 25%;
    height: 100%;
    color: #666;
    position: relative;		    		   
}
footer .footer-mid li::before{
	content: '';
	height:100px;
	width:2px;
	border-right:1px solid #999;
	position: absolute;
	top:15px;
	right: 40px;
}
footer .footer-mid .list_li::before{
    border:none;
}
footer .footer-mid dd{
    margin: 0;
    margin-top:5px;
}
footer .footer-mid a {
	color:#666;
	text-decoration: none;
}
footer .footer-mid a:hover{
	color:#fa7c03;
}
footer .footer-mid li:last-child{
    width: 180px;
    font-size: 12px;
}
footer .footer-mid li:last-child article{
    height: 140px;		  
}
footer .footer-mid li:last-child article .hotline_icon{
    width:30px;
    height:32px;
    margin-left: 5px;
    margin-top:10px;
    margin-right:2px;
    float:left;
}
footer .footer-mid li:last-child article .hotline_icon img{
    width:100%;
}
footer .footer-mid li:last-child article .hotline_icon a{

}
footer .footer-mid li:last-child article a{
    text-align: left;
    width:100%;
    display: inline-block;
    margin-top:5px;
}
footer .footer-mid li:last-child article h3{
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    float:left;		    
}
footer .footer-mid  dt{
    line-height: 22px;
    color: #666;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
footer .footer_bot{
	text-align: center;
}
/*底部*/
/*.......主体内容.......*/
.content>section{
	height:auto;
	width: calc(100% - 350px);
	margin-left:175px ;
	background: #ccc;
	display:inline-block;
}
iframe{
	height:900px;
	width: 100%;
	border:none; /*iframe的边框设置为没有*/		
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.content>section .sec_loca {
    width:100%;			
	margin-top:15px;
}
.content>section .sec_loca span{
          color:#666;
}
.content>section .sec_loca span:first-child{
	margin-left:20px;
}
.content>section .sec_loca span:last-child{
	color:#333;
}
.content>section .sec_loca .last_loca:hover{
	color:#fa7c03;
}
/*店铺分类*/
.content>section .sec_hotel_type{
	margin-top: 10px;
	width:100%;
	background: #f5efea;
	box-shadow: 1px 2px 2px #f5efea;
	font-size: 16px;
	color:#333;
}
.content>section .sec_hotel_type .type_tit{
	float:left;
	margin-left: 5px;
	margin-top: 22px;
	font-size:16px;
}
.content>section .sec_hotel_type .type_tit .img_list{
    width:16px;
    height:16px;
    margin-left:5px;
    margin-right:5px;
    margin-top: 1px;
    float:left;
}
.content>section .sec_hotel_type .type_tit .img_list img{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
.content>section .sec_hotel_type .type_tit span{
	height:18px;
	width:18px;
}
.content>section .sec_hotel_type .type_tit label{
    color:#333;
}
.content>section .sec_hotel_type .type_tit:hover{
	color:#fa7c03;
}
/*具体分类*/
.content>section .sec_hotel_type  .type_cont{
	float:left;
	width:85%;
}
.content>section .sec_hotel_type  .type_cont ul{
	width:100%;
	float: left;
    margin-top: 16px;
    height:54px;            
    position: relative;
    /*border:1px solid red;*/
}
.content>section .sec_hotel_type  .type_cont ul li{       	
	width:12%;
	height:50%;
	margin-left: 10px;
	line-height: 27px;
	padding: 3px;
	/*border:1px solid red;*/
	text-align: left;
}
.content>section .sec_hotel_type  .type_cont ul .first_list{
	 color:#fc7b03;
	 cursor: pointer;
}
.content>section .sec_hotel_type  .type_cont ul li:hover{
	 color:#fc7b03;
	 cursor: pointer;
}
.content>section .sec_hotel_type  .type_cont ul li .img_list{
    width:16px;
    height:16px;
    margin-left:5px;
    margin-right:5px;
    margin-top: 1px;
    float:left;
}
.content>section .sec_hotel_type  .type_cont ul li .img_list img{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
/*评价导航*/
.content>section .sec_hotel_nav{
    margin-top: 10px;
	width:100%;
	background: #f5efea;
	box-shadow: 1px 2px 2px #f4efeb;
	font-size: 14px;
	color:#333;
}
.content>section .sec_hotel_nav ul li:first-child{
    color:#fa7c03;
   
}
.content>section .sec_hotel_nav ul li{
	padding-left:20px;
	margin-top: 13px;
	padding-right: 20px;
	height:14px;
	line-height: 14px;
	border-right:1px solid black;
	border-size:18px;
}
.content>section .sec_hotel_nav ul li:last-child{
	border-right:none;
}
.content>section .sec_hotel_nav ul li .img_list{
    width:8px;
    height:16px;
    margin-left:3px;
    margin-right:3px;
    float: right;
}
.content>section .sec_hotel_nav  ul li .img_list img{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
/*店铺矩形及全部内容.sec_hotel_content */
.content>section .sec_hotel_content{
	height:600px;
	width:100%;
	margin-top: 10px;
	background: #f5efea;
	/*border:1px solid red;*/
	box-shadow: 1px 2px 2px #f5efea;
}
/*.cont_shop 每个店铺*/
.content>section .sec_hotel_content .cont_shop{
    width:220px;
    height:260px;
    background: #f6f2ef;
    float: left;
    margin-left: calc(20% - 176px);
    boeder:1px solid #ccc;
    box-shadow: 1px 2px 6px #ccc;
    border-radius:2px;
    margin-top: 10px;
    font-size: 12px;
    color:#666;
}
.content>section .sec_hotel_content .cont_shop .img_shop{
	width:210px;
	height:158px;
	margin: 5px;
	/*border:1px solid red;*/
}
.content>section .sec_hotel_content .cont_shop .img_shop img{
	width:100%;
}
.content>section .sec_hotel_content .cont_shop .shop_same{
	margin-top: 10px;
	margin-left: 10px;
}
.content>section .sec_hotel_content .cont_shop .shop_title{
	font-size: 18px;
	color:#333;
}
/*起送，配送，距离时间*/
.content>section .sec_hotel_content .cont_shop  .shop_bot{
    width:100%;
}
.content>section .sec_hotel_content .cont_shop  .shop_bot ul{
    width:calc(100% - 20px);
    height:16px;
    /*border:1px solid red;*/
}
.content>section .sec_hotel_content .cont_shop  .shop_bot ul li{
	width:33%;
	height:100%;
	text-align: center;
}
/*店铺矩形及全部内容.sec_hotel_content */
      /*.......主体内容.......*/
      /*.......右侧导航.......*/
.content .sec_right{
	height:180px;
	width:60px;			
	position: absolute;
	right:58px;
	bottom:240px;
}
.content .sec_right .img_sec{
	width:58px;
	height:58px;
	border:1px solid #ccc;
}
.content .qr_code:hover{
    transform:scale(1.3,1.3);
}
.content  .contact_our p{
	position: absolute;
	top:44px;
	left:8px;
	color:#fa7c03;
	font-size: 22px;
	display: none;
}
.content .contact_our:hover{

}
.content .sec_right .img_sec>div{
	width:46px;
	margin: 6px;
}
.content .sec_right .img_sec>div img{
	width:100%;
}
/*.......右侧导航.......*/