body,
html {
  padding: 0;
  margon: 0;
  width: 100%;
  height: 100%;
  color: #666;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
p,
h4,
h3,
hr {
  padding: 0;
  margin: 0;
}
ul li {
  float: left;
}
input {
  outline: none;
  border: none;
  text-align: center;
  border-radius: 2px;
  margin: 0;
  font-size: 12px;
}
input:hover {
  cursor: pointer;
}
.orderDetail {
  /* 轮播图*/
  width: 780px;
  height: 600px;
  border: 1px solid blue;
  /* 订单状态*/
  /* 商家信息*/
  /* 订单详情*/
  /* 地址*/
}
.orderDetail .banner {
  height: 162px;
  width: 740px;
  margin-left: 20px;
}
.orderDetail .banner .ban_img {
  position: relative;
}
.orderDetail .banner .ban_img > div {
  position: absolute;
  top: 0;
  left: 0;
}
.orderDetail .ps_state {
  margin-left: 20px;
  width: 100%;
  margin-top: 19px;
  height: 40px;
  /*text-align: center;*/
  display: inline-block;
}
.orderDetail .ps_state .state_1 {
  float: left;
  display: block;
  margin-left: 105px;
  width: 80px;
  text-align: center;
}
.orderDetail .ps_state .state_1 span {
  color: #666;
}
.orderDetail .ps_state .state_1 span:first-child {
  color: #333;
}
.orderDetail .ps_state .state_1:first-child {
  margin-left: 140px;
}
.orderDetail .ps_state .state_1:last-child {
  margin-left: 110px;
}
.orderDetail .store_infor {
  margin-top: 19px;
  height: 64px;
  width: 740px;
  margin-left: 20px;
  /*  border:1px solid red;*/
}
.orderDetail .store_infor .pic_por {
  float: left;
  width: 65px;
  height: 65px;
  margin-left: 20px;
}
.orderDetail .store_infor .pic_por img {
  width: 100%;
}
.orderDetail .store_infor .right_inf {
  float: left;
  margin-left: 9px;
  /*订单号*/
}
.orderDetail .store_infor .right_inf label {
  font-size: 16px;
}
.orderDetail .store_infor .right_inf input {
  margin-top: 1px;
  padding: 4px 6px;
  color: #f8f8f8;
}
.orderDetail .store_infor .right_inf input:nth-of-type(1) {
  background: #a0a0a0;
  margin-left: 18px;
}
.orderDetail .store_infor .right_inf input:nth-of-type(2) {
  background: #ff8633;
  margin-left: 18px;
}
.orderDetail .store_infor .right_inf .order_num {
  margin-top: 12px;
}
.orderDetail .store_infor .right_inf .order_num > div {
  float: left;
}
.orderDetail .store_infor .right_inf .order_num .number_one {
  width: 266px;
}
.orderDetail .store_infor .right_inf .order_num .phone_st {
  margin-left: 20px;
}
.orderDetail .order_inf {
  width: 740px;
  margin-left: 20px;
  margin-top: 19px;
  height: 212px;
  /*border:1px solid black;*/
}
.orderDetail .order_inf > div {
  float: left;
  width: 360px;
  height: 211px;
  background-image: url('../images/my_order/bgord.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.orderDetail .order_inf .my_dish .cont_infor {
  width: calc(100% - 35px);
  margin-left: 35px;
}
.orderDetail .order_inf .my_dish .cont_infor label {
  display: block;
  margin-top: 15px;
  margin-bottom: 2px;
  color: #888;
  font-weight: bold;
}
.orderDetail .order_inf .my_dish .cont_infor .detail_cont {
  height: 132px;
  width: calc(100% - 15px);
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  overflow-y: scroll;
  display: inline-block;
}
.orderDetail .order_inf .my_dish .cont_infor .detail_cont .order_entry {
  width: 100%;
  height: 32px;
  color: #999;
  display: inline-block;
}
.orderDetail .order_inf .my_dish .cont_infor .detail_cont .order_entry > div {
  width: 16%;
  float: left;
  margin-top: 4px;
  text-align: right;
}
.orderDetail .order_inf .my_dish .cont_infor .detail_cont .order_entry .ord_dishes {
  width: 48%;
  text-align: left;
}
.orderDetail .order_inf .my_dish .cont_infor .detail_cont .order_title {
  font-weight: bold;
}
.orderDetail .order_inf .my_dish .cont_infor .total {
  width: 100%;
}
.orderDetail .order_inf .my_dish .cont_infor .total span {
  display: block;
  float: right;
  margin-right: 15px;
  line-height: 32px;
}
.orderDetail .order_inf .my_dish .cont_infor .total span mask {
  color: red;
}
.orderDetail .order_inf .order_ps {
  margin-left: 20px;
}
.orderDetail .order_inf .order_ps .cont_infor {
  width: calc(100% - 35px);
  margin-left: 35px;
}
.orderDetail .order_inf .order_ps .cont_infor label {
  display: block;
  margin-top: 15px;
  margin-bottom: 2px;
  color: #888;
  font-weight: bold;
}
.orderDetail .order_inf .order_ps .cont_infor .detail_cont {
  height: 100%;
  width: calc(100% - 15px);
  border-top: 1px solid #999999;
  display: inline-block;
}
.orderDetail .order_inf .order_ps .cont_infor .detail_cont .order_entry {
  height: 16px;
  margin-top: 15px;
}
.orderDetail .order_inf .order_ps .cont_infor .detail_cont .order_entry:first-child {
  margin-top: 6px;
}
.orderDetail .address {
  width: 740px;
  margin-left: 20px;
  height: 30px;
  margin-top: 10px;
  /* border:1px solid black;*/
}
.orderDetail .address span {
  display: block;
  float: right;
  margin-right: 16px;
}
