<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:需与接口的完全限定名保持一致 -->
<mapper namespace="org.jxau.lctoh.user.restaurant.mapper.RestaurantCategoryMapper">
	<!-- 数据库表与实体类对应的resultMap -->
	<resultMap type="RestaurantCategory" id="RestaurantCategoryResultMap">
	    <id property="restaurantCategoryId" column="restaurant_category_id"/>
		<result property="restaurantCategoryName" column="restaurant_category_name"/>
		<result property="restaurantCategoryUpdateTime" column="restaurant_category_update_time"/>
		<result property="restaurantCategoryIcon" column="restaurant_category_icon"/>
		<association property="restaurantCategoryState" column="restaurant_category_state_id" select="org.jxau.lctoh.state.mapper.StateMapper.findStateByStateId"/>
	</resultMap>
	
	<sql id="RestaurantCategoryColumns">
		restaurant_category.restaurant_category_id,
		restaurant_category.restaurant_category_name,
		restaurant_category.restaurant_category_update_time,
		restaurant_category.restaurant_category_icon,
		restaurant_category.restaurant_category_state_id
	</sql>
	<!--根据分类识别码查询分类信息-->
	<select id="findRestaurantCategoryById" parameterType="String" resultMap="RestaurantCategoryResultMap">
		select 
			<include refid="RestaurantCategoryColumns"></include>
		from restaurant_category
		where 
			restaurant_category.restaurant_category_delete_or_not=1
			and restaurant_category.restaurant_category_id=#{id}
	</select>

	<!--根据分类名查询分类信息-->
	<select id="findRestaurantCategoryByName" parameterType="String" resultMap="RestaurantCategoryResultMap">
		select 
			<include refid="RestaurantCategoryColumns"></include>
		from restaurant_category
		where 
			restaurant_category.restaurant_category_delete_or_not=1
			and restaurant_category.restaurant_category_name like CONCAT(CONCAT('%', #{name}), '%')
	</select>
	
	<!--根据分类状态查询分类信息-->
	<select id="findRestaurantCategoryByStateId" parameterType="Integer" resultMap="RestaurantCategoryResultMap">
		select 
			<include refid="RestaurantCategoryColumns"></include>
		from restaurant_category
		where 
			restaurant_category.restaurant_category_delete_or_not=1
			and restaurant_category.restaurant_category_state_id =#{stateId}
	</select>
	
	
	<!--根据查询所有分类信息-->
	<select id="findAllRestaurantCategory" resultMap="RestaurantCategoryResultMap">
		select 
			<include refid="RestaurantCategoryColumns"></include>
		from restaurant_category
		where 
			restaurant_category.restaurant_category_delete_or_not=1
	</select>
</mapper>