<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:需与接口的完全限定名保持一致 -->
<mapper namespace="org.jxau.lctoh.trade.dish.mapper.DishMapper">
	<!-- 数据库表与实体类相对应的resultMap -->
	<resultMap type="Dish" id="DishResultMap">
	    <id property="dishId" column="dish_id"/>
	    <result property="dishName" column="dish_name"/>
		<result property="dishPrice" column="dish_price"/>
		<result property="dishImage" column="dish_image"/>
		<result property="dishUpdateTime" column="dish_update_time"/>
		<result property="dishIntro" column="dish_intro"/>
		<result property="dishQuantity" column="dish_quantity"/>
		<association property="salesVolume" column="dish_id" select="org.jxau.lctoh.trade.order.mapper.OrderItemMapper.getSalesVolume"/>
		<association property="dishState" column="dish_state_id" select="org.jxau.lctoh.state.mapper.StateMapper.findStateByStateId"/>
		<association property="dishCategory" column="dish_category_id" select="org.jxau.lctoh.trade.dish.mapper.DishCategoryMapper.findDishCategoryById"/>
	</resultMap>
	<sql id="DishColumns">
		dish.dish_id,
		dish.dish_name,
		dish.dish_price,
		dish.dish_image,
		dish.dish_update_time,
		dish.dish_intro,
		dish.dish_quantity,
		dish.dish_state_id,
		dish.dish_category_id
	</sql>
	
	
	
	<!--根据菜肴识别码查询菜肴信息-->
	<select id="findDishByDishId" parameterType="String" resultMap="DishResultMap">
		select 
			<include refid="DishColumns"></include>
		from dish
		where 
			dish.dish_delete_or_not=1
			and dish.dish_id=#{dishId}
	</select>
	
	<!--根据菜肴分类识别码查询菜肴信息-->
	<select id="findDishByDishCategoryId" parameterType="String" resultMap="DishResultMap">
		select 
			<include refid="DishColumns"></include>
		from dish
		where 
			dish.dish_delete_or_not=1
			and dish.dish_category_id=#{dishCategoryId}
	</select>
	
	<!--(dish left join dish_category on dish.dish_category_id=dish_category.dish_category_id) left join restaurant on dish_category.dish_category_restaurant_id=restaurant.restaurant_id
-->
	
 	<!--根据客户识别码查询收藏菜肴信息-->
	<select id="findCollectDishByCustomerId" parameterType="String" resultMap="DishResultMap">
		select 
			<include refid="DishColumns"></include>
		from dish,collect_dish
		where 
			dish.dish_id=collect_dish.collect_dish_id
			and dish.dish_delete_or_not=1
			and collect_dish.collect_dish_delete_or_not=1
			and collect_dish.collect_customer_id=#{customerId}
	</select>
	
	
	<!--根据店家ID查询菜肴-->
	<select id="findDishByRestaurantId" parameterType="String" resultMap="DishResultMap">
		select 
			<include refid="DishColumns"></include>
		from dish ,dish_category,restaurant
		where 
			dish.dish_category_id=dish_category.dish_category_id
			and dish_category.dish_category_restaurant_id=restaurant.restaurant_id
			and dish.dish_delete_or_not=1
			and dish.dish_category_delete_or_not=1
			and restaurant.restaurant_delete_or_not=1
			and restaurant.restaurant_id=#{restaurantId}
	</select>
	
	<!--删除菜肴信息-->
	<update id="deleteDish" parameterType="Dish">
		update dish
		set
			dish.dish_delete_or_not=0
			dish.dish_update_time=#{dishUpdateTime}
		where
			dish.dish.dish_id=#{dishId}
	</update>
	
	<!--更新菜肴信息-->
	<update id="updateDish" parameterType="Dish">
		update dish
		set
			dish.dish_name=#{dishName},
			dish.dish_price=#{dishPrice},
			dish.dish_image=#{dishImage},
			dish.dish_intro=#{dishIntro},
			dish.dish_quantity#{dishQuantity},
			dish.dish_state_id=#{dishState.stateId},
			dish.dish_category_id=#{dishCategory.dishCategoryId},
			dish.dish_update_time=#{dishUpdateTime}
		where
			dish.dish.dish_id=#{dishId}
	</update>
	
	<!--添加菜肴分类-->
	<insert id="addDish" parameterType="Dish">
		insert into dish(
			dish.dish_id,
			dish.dish_name,
			dish.dish_price,
			dish.dish_image,
			dish.dish_update_time,
			dish.dish_intro,
			dish.dish_quantity,
			dish.dish_state_id,
			dish.dish_category_id
			)
		values(
			#{dishId},
			#{dishName},
			#{dishPrice},
			#{dishImage},
			#{dishUpdateTime},
			#{dishIntro},
			#{dishQuantity},
			#{dishState.stateId},
			#{dishCategory.dishCategoryId}
		)
	</insert>
</mapper>