<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:需与接口的完全限定名保持一致 -->
<mapper namespace="org.jxau.lctoh.user.basis.mapper.VerificationCodeMapper">

	<!--根据验证码识别码获得验证码信息-->
	<select id="findVerificationCodeById" parameterType="String" resultType="VerificationCode">
		select
			verification_code.verification_code_id as verificationCodeId,
			verification_code.verification_code as verificationCode,
			verification_code.verification_code_update_time as verificationCodeUpdateTime
		form
			verification_code
		where
			verification_code.verification_code_id=#{id}
	</select>
	
	<!-- 更新用户信息 -->
	<insert id="replaceVerificationCode" parameterType="verificationCode" >
		REPLACE INTO verification_code(
			verification_code.verification_code_id,
			verification_code.verification_code,
			verification_code.verification_code_update_time
		) 
		VALUES (
			#{verificationCodeId},
			#{verificationCode},
			#{verificationCodeUpdateTime}
		)
	</insert>
	
</mapper>