html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow:hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  float: left;
}
p,
h2,
h3 {
  padding: 0;
  margin: 0;
}
input {
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 0;
  font-size: 12px;
}
.cont_admin {
  height: 600px;
  width: 1204px;
  background: #eee;
  margin: 0 auto;
}
.cont_admin .admin_left {
  float: left;
  width: 320px;
  background: #f8f8f8;
  border: 1px solid #aaa;
  height: 100%;
}
.cont_admin .admin_left .send_admin{
  height: 98%;
  width: 100%;
  position: relative;
}
.cont_admin .admin_left > div .admin_state {
  height: 36px;
  width: 100%;
  color: #fa7c03;
}
.cont_admin .admin_left > div .admin_state label {
  line-height: 36px;
  display: inline-block;
  float: left;
  margin-left: 30px;
}
.cont_admin .admin_left .admin_list {
  width: 100%;
  height: calc(100% - 36px);
  overflow-y: auto;
}
.cont_admin .admin_left .admin_list .admin_one {
  width: calc(100% - 20px);
  border: 1px solid #aaa;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 5px;
  height:54px;
}
.cont_admin .admin_left .admin_list .admin_one>div{
    padding:3px;   
}
.cont_admin .admin_left .admin_list .admin_one:hover{
   border: 1px solid #fa7c03;
}
.cont_admin .admin_left .admin_list .admin_one:hover .rider_name{
   color:#fa7c03;
}

.cont_admin .admin_right #allmap{
  width:100%;
  height:100%;
}
.show_admin {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 95%;
  /* border:1px solid yellow; */
  position: relative;
}
.show_admin .admin_infor {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  /* border:1px solid blue; */
  /*顾客信息*/
}
.show_admin .admin_infor > div {
  width: calc(100% - 40px);
  margin-left: 20px;
  /* border:1px solid red; */
}
.show_admin .admin_infor span {
  font-size: 12px;
  color: #999;
}
.show_admin .admin_infor .admin_idnum {
  margin-left: 80px;
}
.show_admin .admin_infor .custer_phone,
.show_admin .admin_infor .store_phone {
  float: right;
  margin-right: 40px;
}
.show_admin .admin_infor .custer_phone {
  color: #fa7c03;
}
.show_admin .admin_infor .admin_total,
.show_admin .admin_infor .admin_dist {
  float: right;
  margin-right: 40px;
  width: 80px;
  text-align: center;
  color: #fa7c03;
}
.show_admin .admin_infor .admin_tm {
  position: relative;
}
.show_admin .admin_infor .admin_tm span {
  display: block;
  width: 100%;
  text-align: center;
  color: #fa7c03;
}
.show_admin .admin_infor input {
  color: #fff;
  width: 60px;
  height: 24px;
  line-height: 24px;
  background: #aaa;
  border: 1px solid #aaa;
  text-align: center;
  border-radius: 2px;
  padding: 0px;
  margin-left: calc(50% - 30px);
}
.show_admin .admin_infor input:hover {
  background: #fa7c03;
  border-color: #fa7c03;
}
